img {
    display: block;
    width: 100px;
    height: 100px;
    background-color: #ddd;
}

html, body {
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {

}

.footer {

}

.main {

}